---
// src/components/SplitCard.astro
const { text, spanText, image, button = true, href = "/productos", label = "¡COMENCEMOS!" } = Astro.props;
import Button from "@/shared/components/Button.astro";
---

<div class="relative border-3 rounded-3xl overflow-hidden w-full max-w-xl max-h-[350px] flex flex-col">
  <!-- Parte superior -->
  <div class="bg-theme-malachite text-theme-rich-black flex items-center justify-center px-6 py-8 text-center h-1/2 relative">
    <p class="text-2xl font-regular">
      {text} <br> <span class="font-semibold text-5xl">{spanText}</span>
    </p>

    {button && (
      <div class="absolute bottom-[-1.5rem] left-1/2 transform -translate-x-1/2 z-10">
        <Button
          href={href}
          label={label}
          color="text-theme-rich-black bg-theme-maize hover:bg-theme-maize/90 "
          rounded="rounded-4xl"
          py="py-2"
          px="px-4"
          aditionalClasses="border-b-8 w-[200px]"
        />
      </div>
    )}
  </div>

  <div class="flex items-center justify-center h-1/2">
    <img src={image} alt={spanText} class="w-full h-full" loading="lazy" />
</div>

</div>
