---
import PublicLayout from '@/layouts/PublicLayout.astro';

const robots = ["index", "follow"];
const title = "Registrar Cuenta";
const description = "Únete a TrinUp y empieza tu transformación hacia una vida más saludable. Regístrate para acceder a herramientas de nutrición, bienestar y hábitos positivos.";
const keywords = ["registrarse", "crear cuenta", "registro TrinUp", "salud y bienestar", "nutrición", "hábitos saludables", "bienestar personal", "TrinUp"];
const url = "https://trinup-frontend.vercel.app";
const imageOG = "/card-twt.webp";
const imagetwt = "/card-twt.webp";
---

<PublicLayout {robots} {title} {description} {keywords} {url} {imageOG} {imagetwt}>
    <section>
        <h1>registro</h1>
    </section>
</PublicLayout>
